:root {
  --red-color: #961F1F;
  --gray-color: #4F4F4F;
  --main-font: 'lato';
}

@font-face {
  font-family: 'lato';
  src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: 'playfair';
  src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  line-height: 1.6;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.977);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ========================================================================================= */

/* hero-section et navbar*/

.FAQ{
  margin-left: 30px;
}
.div-logo{
  display: flex;
  justify-content: center;
}
.header-first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-div{
  margin-right: 10px;
}
.btn-div button{
  border-radius: 50px;
  border: none;
  padding: 10px 30px;
  background-color: #961F1F;
}

.btn-div button a{
  color: white;
  text-decoration: none;
}
.img-logo {
  width: 300px;
  height: 150px;
  padding-left: 10%;
}

.header-second-section {
  display: flex;
  justify-content: center;
}

.header-second-section ul li {
  list-style: none;
}

.header-second-section ul li a{
  text-decoration: none;
  color: white;
}

.header-second-section ul {
  display: flex;
  gap: 23px;
}

.hero-section {
  margin-top: 10%;
}

.title-hero-section {
  font-family: 'playfair';
}

.title-hero-section,
.text-hero-section {
  text-align: center;
}

.header-wraper {
  background-image: url("../assets/images/hero-section.png");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  height: 100vh;
}

/* responsive mobile */

@media (max-width:767px) {
  .header-first-section {
    display: none;
  }

  .header-first-section img {
    display: flex;
  }

  .hero-section {
    margin-top: 60%;
  }

  .text-hero-section {
    font-size: 10px;
  }

  .header-second-section ul li {
    font-size: 11px;
  }
}

/* ========================================================================================= */

/* section text*/

.text-section{
  display: flex;
  justify-content: center;
}
.div-text-section{
  margin-top: 60px;
  width: 60%;
}
.div-text-section p{
   text-align: center;
   font-size: 11px;
}